/* line 9, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 12, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
header {
  position: relative;
  height: 50px;
}

/* line 16, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

/* line 23, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 30, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 35, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 39, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 46, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 51, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 58, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 65, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 75, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 5, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 90, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo {
  min-height: 800px;
  background: url("../img/bg/promobg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 95, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo .promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 104, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo .promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 114, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

/* line 122, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 5, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 138, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 141, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

/* line 153, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* line 162, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.subtitle {
  margin-top: 19px;
  height: 17px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

/* line 169, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 175, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 185, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons .reasons_block .reasons_descr {
  width: 343px;
}

/* line 188, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

/* line 194, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 200, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile.png") center center/cover no-repeat;
}

/* line 204, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 206, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 213, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.png") center center/cover no-repeat;
}

/* line 215, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.png") center center/cover no-repeat;
}

/* line 217, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.png") center center/cover no-repeat;
}

/* line 219, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.png") center center/cover no-repeat;
}

/* line 221, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.png") center center/cover no-repeat;
}

/* line 223, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.png") center center/cover no-repeat;
}

/* line 225, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

/* line 232, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translatex(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

/* line 247, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 254, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 265, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

/* line 268, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
}

/* line 273, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* line 278, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* line 284, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

/* line 293, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 295, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_block {
  margin: 33px 0;
}

/* line 297, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 299, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 303, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

/* line 307, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 313, ../../../../../../../../../../../../../Users/mac/Desktop/FullStack/uberproject/src/sass/style.sass */
.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translatey(-50%);
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png");
}

/*# sourceMappingURL=style.css.map */